# python hands-on session

By: Ties de Kok  
Version: Python 2.7 (see any notes for Python 3.5)

1. handling files
2. **data handling**
3. web scraping
4. text mining
5. (interactive) visualisations

## Introduction

For the data handling part we will be using Python + Pandas.  
What is `Pandas`?

> pandas is an open source, BSD-licensed library providing high-performance, easy-to-use  data structures and data analysis tools for the Python programming language.

In other words, whenever you want to use a datastructure with rows and columns, use `Pandas`!

A Pandas data object is called a `dataframe`.

## Format of this notebook

The `Pandas` library is massive, it includes an enormous amount of functionality.  
It is, therefore, impossible to cover everything in this notebook.  

PyCon 2015 (A Python conference) included a tutorial/talk by Brandon Rhodes.  
This entire talk is available on YouTube and I think it is really great:  
https://www.youtube.com/watch?v=5JnMutdy6Fw

I will build on his materials and add some tips of my own, but I highly recommend to also watch the video.

The full materials of Brandon's Pandas Tutorial are available here:  
https://github.com/brandon-rhodes/pycon-pandas-tutorial

# Some tips and tricks

## Import Pandas

In [87]:
import pandas as pd
import numpy as np

## Create a dataframe

### Load file into Pandas

To open a data file such as Excel, CSV, Stata, SAS, HDF see the first notebook.

In [107]:
df_auto = pd.read_csv(r'auto_df.csv', sep=';', index_col='Unnamed: 0')

**Create new dataframe from scratch**  
We can create a new dataframe and pass data to it:

In [88]:
d = {'col1': [1,2,3,4], 'col2': [5,6,7,8]}
df = pd.DataFrame(data=d)
df

   col1  col2
0     1     5
1     2     6
2     3     7
3     4     8

**Create dataframe from a dictionary**  
We can also directly convert a dictionary to a dataframe:

In [89]:
d = {'row1': [1,2,3,4], 'row2': [5,6,7,8]}
df = pd.DataFrame.from_dict(d, orient='index')
df

      0  1  2  3
row1  1  2  3  4
row2  5  6  7  8

## Rename columns

We can either manipulate `df.columns` directly or use `df.rename()`

In [90]:
df.columns = ['col1', 'col2', 'col3', 'col4']
df

      col1  col2  col3  col4
row1     1     2     3     4
row2     5     6     7     8

In [91]:
df.rename(columns={'col1' : 'column1', 'col2' : 'column2'})

      column1  column2  col3  col4
row1        1        2     3     4
row2        5        6     7     8

**Note:** The above creates a copy, it does not modify it in place!  
We need to use either the `inplace=True` argument or assign it:

In [92]:
df = df.rename(columns={'col1' : 'column1', 'col2' : 'column2'})
#or
df.rename(columns={'col1' : 'column1', 'col2' : 'column2'}, inplace=True)

## Manipulate dataframe

### Add column

In [93]:
df['col5'] = [10, 10]
df

      column1  column2  col3  col4  col5
row1        1        2     3     4    10
row2        5        6     7     8    10

### Add row

In [94]:
df.loc['row3'] = [11, 12, 13, 14, 15]
df

      column1  column2  col3  col4  col5
row1        1        2     3     4    10
row2        5        6     7     8    10
row3       11       12    13    14    15

### Inverse the dataframe

In [95]:
df.T

         row1  row2  row3
column1     1     5    11
column2     2     6    12
col3        3     7    13
col4        4     8    14
col5       10    10    15

### Remove column

In [96]:
df = df.drop('col5', axis=1)
df

      column1  column2  col3  col4
row1        1        2     3     4
row2        5        6     7     8
row3       11       12    13    14

### Remove row

In [97]:
df = df.drop('row1', axis=0)
df

      column1  column2  col3  col4
row2        5        6     7     8
row3       11       12    13    14

### Set index

In [121]:
df.set_index('column1')

         column2  col3  col4
column1
5              6     7     8
11            12    13    14

*Note:* `Pandas` also allows a multi-index. These can be very powerful.

In [122]:
df.set_index('column1', append=True)

              column2  col3  col4
     column1
row2 5              6     7     8
row3 11            12    13    14

## Select parts of the dataframe

### View entire dataframe

Programs like Stata, SAS, and Excel include a data viewer.  
Python and Pandas does not, it is therefore helpful to be able to quickly generate a view that you like.

In [108]:
df_auto

,make,price,mpg,rep78,headroom,trunk,weight,length,turn,displacement,gear_ratio,foreign
0,AMC Concord,4099,22,3,2.5,11,2930,186,40,121,3.58,Domestic
1,AMC Pacer,4749,17,3,3.0,11,3350,173,40,258,2.53,Domestic
2,AMC Spirit,3799,22,NaN,3.0,12,2640,168,35,121,3.08,Domestic
3,Buick Century,4816,20,3,4.5,16,3250,196,40,196,2.93,Domestic
4,Buick Electra,7827,15,4,4.0,20,4080,222,43,350,2.41,Domestic
5,Buick LeSabre,5788,18,3,4.0,21,3670,218,43,231,2.73,Domestic
6,Buick Opel,4453,26,NaN,3.0,10,2230,170,34,304,2.87,Domestic
7,Buick Regal,5189,20,3,2.0,16,3280,200,42,196,2.93,Domestic
8,Buick Riviera,10372,16,3,3.5,17,3880,207,43,231,2.93,Domestic
9,Buick Skylark,4082,19,3,3.5,13,3400,200,42,231,3.08,Domestic
10,Cad. Deville,11385,14,3,4.0,20,4330,221,44,425,2.28,Domestic
11,Cad. Eldorado,14500,14,2,3.5,16,3900,204,43,350,2.19,Domestic
12,Cad. Seville,15906,21,3,3.0,13,4290,204,45,350,2.24,Domestic
13,Chev. Chevette,3299,29,3,2.5,9,2110,163,34,231,2.93,Domestic
14,Chev. Impala,5705,16,4,4.0,20,3690,212,43,250,2.56,Domestic
15,Chev. Malibu,4504,22,3,3.5,17,3180,193,31,200,2.73,Domestic
16,Chev. Monte Carlo,5104,22,2,2.0,16,3220,200,41,200,2.73,Domestic
17,Chev. Monza,3667,24,2,2.0,7,2750,179,40,151,2.73,Domestic
18,Chev. Nova,3955,19,3,3.5,13,3430,197,43,250,2.56,Domestic
19,Dodge Colt,3984,30,5,2.0,8,2120,163,35,98,3.54,Domestic
20,Dodge Diplomat,4010,18,2,4.0,17,3600,206,46,318,2.47,Domestic
21,Dodge Magnum,5886,16,2,4.0,17,3600,206,46,318,2.47,Domestic
22,Dodge St. Regis,6342,17,2,4.5,21,3740,220,46,225,2.94,Domestic
23,Ford Fiesta,4389,28,4,1.5,9,1800,147,33,98,3.15,Domestic
24,Ford Mustang,4187,21,3,2.0,10,2650,179,43,140,3.08,Domestic
25,Linc. Continental,11497,12,3,3.5,22,4840,233,51,400,2.47,Domestic
26,Linc. Mark V,13594,12,3,2.5,18,4720,230,48,400,2.47,Domestic
27,Linc. Versailles,13466,14,3,3.5,15,3830,201,41,302,2.47,Domestic
28,Merc. Bobcat,3829,22,4,3.0,9,2580,169,39,140,2.73,Domestic
29,Merc. Cougar,5379,14,4,3.5,16,4060,221,48,302,2.75,Domestic
...,...,...,...,...,...,...,...,...,...,...,...,...
44,Plym. Sapporo,6486,26,NaN,1.5,8,2520,182,38,119,3.54,Domestic
45,Plym. Volare,4060,18,2,5.0,16,3330,201,44,225,3.23,Domestic
46,Pont. Catalina,5798,18,4,4.0,20,3700,214,42,231,2.73,Domestic
47,Pont. Firebird,4934,18,1,1.5,7,3470,198,42,231,3.08,Domestic
48,Pont. Grand Prix,5222,19,3,2.0,16,3210,201,45,231,2.93,Domestic
49,Pont. Le Mans,4723,19,3,3.5,17,3200,199,40,231,2.93,Domestic
50,Pont. Phoenix,4424,19,NaN,3.5,13,3420,203,43,231,3.08,Domestic
51,Pont. Sunbird,4172,24,2,2.0,7,2690,179,41,151,2.73,Domestic
52,Audi 5000,9690,17,5,3.0,15,2830,189,37,131,3.20,Foreign
53,Audi Fox,6295,23,3,2.5,11,2070,174,36,97,3.70,Foreign
54,BMW 320i,9735,25,4,2.5,12,2650,177,34,121,3.64,Foreign
55,Datsun 200,6229,23,4,1.5,6,2370,170,35,119,3.89,Foreign
56,Datsun 210,4589,35,5,2.0,8,2020,165,32,85,3.70,Foreign
57,Datsun 510,5079,24,4,2.5,8,2280,170,34,119,3.54,Foreign
58,Datsun 810,8129,21,4,2.5,8,2750,184,38,146,3.55,Foreign
59,Fiat Strada,4296,21,3,2.5,16,2130,161,36,105,3.37,Foreign
60,Honda Accord,5799,25,5,3.0,10,2240,172,36,107,3.05,Foreign
61,Honda Civic,4499,28,4,2.5,5,1760,149,34,91,3.30,Foreign
62,Mazda GLC,3995,30,4,3.5,11,1980,154,33,86,3.73,Foreign
63,Peugeot 604,12990,14,NaN,3.5,14,3420,192,38,163,3.58,Foreign
64,Renault Le Car,3895,26,3,3.0,10,1830,142,34,79,3.72,Foreign
65,Subaru,3798,35,5,2.5,11,2050,164,36,97,3.81,Foreign
66,Toyota Celica,5899,18,5,2.5,14,2410,174,36,134,3.06,Foreign
67,Toyota Corolla,3748,31,5,3.0,9,2200,165,35,97,3.21,Foreign
68,Toyota Corona,5719,18,5,2.0,11,2670,175,36,134,3.05,Foreign
69,VW Dasher,7140,23,4,2.5,12,2160,172,36,97,3.74,Foreign
70,VW Diesel,5397,41,5,3.0,15,2040,155,35,90,3.78,Foreign
71,VW Rabbit,4697,25,4,3.0,15,1930,155,35,89,3.78,Foreign
72,VW Scirocco,6850,25,4,2.0,16,1990,156,36,97,3.78,Foreign
73,Volvo 260,11995,17,5,2.5,14,3170,193,37,163,2.98,Foreign

### Get top or bottom of dataframe

In [109]:
df_auto.head(3)

,make,price,mpg,rep78,headroom,trunk,weight,length,turn,displacement,gear_ratio,foreign
0,AMC Concord,4099,22,3,2.5,11,2930,186,40,121,3.58,Domestic
1,AMC Pacer,4749,17,3,3.0,11,3350,173,40,258,2.53,Domestic
2,AMC Spirit,3799,22,NaN,3.0,12,2640,168,35,121,3.08,Domestic

In [110]:
df_auto.tail(3)

,make,price,mpg,rep78,headroom,trunk,weight,length,turn,displacement,gear_ratio,foreign
71,VW Rabbit,4697,25,4,3.0,15,1930,155,35,89,3.78,Foreign
72,VW Scirocco,6850,25,4,2.0,16,1990,156,36,97,3.78,Foreign
73,Volvo 260,11995,17,5,2.5,14,3170,193,37,163,2.98,Foreign

### Select columns based on name

*Note:* If you want multiple columns you need to use double brackets.

In [112]:
df_auto[['make', 'price', 'mpg']].head(10)

            make  price  mpg
0    AMC Concord   4099   22
1      AMC Pacer   4749   17
2     AMC Spirit   3799   22
3  Buick Century   4816   20
4  Buick Electra   7827   15
5  Buick LeSabre   5788   18
6     Buick Opel   4453   26
7    Buick Regal   5189   20
8  Buick Riviera  10372   16
9  Buick Skylark   4082   19

### Select columns based on position

*Note:* In the example below the first `0:5` selects the first 5 rows.

In [220]:
df_auto.iloc[0:5, 2:5]

    mpg  rep78  headroom
55   23      4       1.5
47   18      1       1.5
44   26    NaN       1.5
23   28      4       1.5
51   24      2       2.0

### Select based on index value

In [207]:
df = df_auto[['make', 'price', 'mpg', 'trunk', 'headroom']].set_index('make')

In [208]:
df.loc['Buick Riviera']

price       10372.0
mpg            16.0
trunk          17.0
headroom        3.5
Name: Buick Riviera, dtype: float64

### Select based on index position

In [211]:
df.iloc[2:5]

               price  mpg  trunk  headroom
make
Plym. Sapporo   6486   26      8       1.5
Ford Fiesta     4389   28      9       1.5
Pont. Sunbird   4172   24      7       2.0

### Select based on condition

In [117]:
df_auto[ df_auto.price < 3800 ]

,make,price,mpg,rep78,headroom,trunk,weight,length,turn,displacement,gear_ratio,foreign
2,AMC Spirit,3799,22,NaN,3.0,12,2640,168,35,121,3.08,Domestic
13,Chev. Chevette,3299,29,3,2.5,9,2110,163,34,231,2.93,Domestic
17,Chev. Monza,3667,24,2,2.0,7,2750,179,40,151,2.73,Domestic
33,Merc. Zephyr,3291,20,3,3.5,17,2830,195,43,140,3.08,Domestic
65,Subaru,3798,35,5,2.5,11,2050,164,36,97,3.81,Foreign
67,Toyota Corolla,3748,31,5,3.0,9,2200,165,35,97,3.21,Foreign

In [118]:
df_auto[(df_auto.price < 3800) & (df_auto.foreign == 'Foreign')]

,make,price,mpg,rep78,headroom,trunk,weight,length,turn,displacement,gear_ratio,foreign
65,Subaru,3798,35,5,2.5,11,2050,164,36,97,3.81,Foreign
67,Toyota Corolla,3748,31,5,3.0,9,2200,165,35,97,3.21,Foreign

**Note:** all the above return new dataframes that are removed if we do not assign them.  
If we want to keep it as a separate dataframe we have to assign it like so:

In [124]:
df_auto_small = df_auto[(df_auto.price < 3800) & (df_auto.foreign == 'Foreign')]
df_auto_small

,make,price,mpg,rep78,headroom,trunk,weight,length,turn,displacement,gear_ratio,foreign
65,Subaru,3798,35,5,2.5,11,2050,164,36,97,3.81,Foreign
67,Toyota Corolla,3748,31,5,3.0,9,2200,165,35,97,3.21,Foreign

### Sort dataframe

In [140]:
df_auto.sort_values(by=['headroom', 'trunk'], inplace=True)
df_auto.head()

,make,price,mpg,rep78,headroom,trunk,weight,length,turn,displacement,gear_ratio,foreign,price_trunk_ratio,new_price
55,Datsun 200,6229,23,4,1.5,6,2370,170,35,119,3.89,Foreign,1038.166667,9343.5
47,Pont. Firebird,4934,18,1,1.5,7,3470,198,42,231,3.08,Domestic,704.857143,4934.0
44,Plym. Sapporo,6486,26,NaN,1.5,8,2520,182,38,119,3.54,Domestic,810.750000,6486.0
23,Ford Fiesta,4389,28,4,1.5,9,1800,147,33,98,3.15,Domestic,487.666667,4389.0
51,Pont. Sunbird,4172,24,2,2.0,7,2690,179,41,151,2.73,Domestic,596.000000,4172.0

## Generate new columns from within a dataframe

You often want to create a new column using values that are already in the dataframe.

### Combine columns

*Note:* You can select a column using:
1. `df_auto['price']`
2. `df_auto.price` --> but this one only works if there are no spaces in the column name

In [128]:
df_auto['price_trunk_ratio'] = df_auto.price / df_auto.trunk
df_auto[['make', 'price', 'trunk', 'price_trunk_ratio']].head()

            make  price  trunk  price_trunk_ratio
0    AMC Concord   4099     11         372.636364
1      AMC Pacer   4749     11         431.727273
2     AMC Spirit   3799     12         316.583333
3  Buick Century   4816     16         301.000000
4  Buick Electra   7827     20         391.350000

### Generate a column by iterating over the rows

There are many different ways to iterate over rows.  
They mainly different in their trade-off between ease-of-use and performance.  

I will demonstrate the methods I like to use, the example goal:  
> If the car is a foreign brand, multiple the price by 1.5

**Using a list comprehension:**

In [143]:
df_auto['new_price'] = [p*1.5 if f == 'Foreign' else p for p, f in zip(df_auto.price, df_auto.foreign)]
df_auto[['make', 'price', 'foreign', 'new_price']].head()

              make  price   foreign  new_price
55      Datsun 200   6229   Foreign     9343.5
47  Pont. Firebird   4934  Domestic     4934.0
44   Plym. Sapporo   6486  Domestic     6486.0
23     Ford Fiesta   4389  Domestic     4389.0
51   Pont. Sunbird   4172  Domestic     4172.0

**Using `.apply()`**

*Note:* `lambda` is a so-called anonymous function.

In [152]:
df_auto['new_price'] = df_auto.apply(lambda x: x.price*1.5 if x.foreign == 'Foreign' else x.price, axis=1)
df_auto[['make', 'price', 'foreign', 'new_price']].head()

              make  price   foreign  new_price
55      Datsun 200   6229   Foreign     9343.5
47  Pont. Firebird   4934  Domestic     4934.0
44   Plym. Sapporo   6486  Domestic     6486.0
23     Ford Fiesta   4389  Domestic     4389.0
51   Pont. Sunbird   4172  Domestic     4172.0

**Using `.apply()` with a function**

In the example above we use an anonymous `lambda` function.  
For more complex processing it is possible to use a defined function and call it in `.apply()`  

**Personal note:** This method is in my opinion prefered as it is a lot easier to read.

In [153]:
def new_price_function(x):
    if x.foreign == 'Foreign':
        return x.price * 1.5
    else:
        return x.price

In [155]:
df_auto['new_price'] = df_auto.apply(new_price_function, axis=1)
df_auto[['make', 'price', 'foreign', 'new_price']].head()

              make  price   foreign  new_price
55      Datsun 200   6229   Foreign     9343.5
47  Pont. Firebird   4934  Domestic     4934.0
44   Plym. Sapporo   6486  Domestic     6486.0
23     Ford Fiesta   4389  Domestic     4389.0
51   Pont. Sunbird   4172  Domestic     4172.0

## Group-by operations

Pandas `.groupby()` allows us to:  
1. Compute a summary statistic about each group
2. Perform some group-specific computations
3. Filter based on groups

See: http://pandas.pydata.org/pandas-docs/stable/groupby.html

### Create a group object:

In [173]:
col_list = ['price', 'mpg', 'headroom', 'trunk', 'weight', 'length']
grouped = df_auto[col_list + ['foreign']].groupby(['foreign'])

### Compute mean summary statistic:

In [174]:
grouped.mean()

                price        mpg  headroom      trunk       weight      length
foreign
Domestic  6072.423077  19.826923  3.153846  14.750000  3317.115385  196.134615
Foreign   6384.681818  24.772727  2.613636  11.409091  2315.909091  168.545455

### Retrieve particular group:

In [180]:
grouped.get_group('Domestic').head()

    price  mpg  headroom  trunk  weight  length   foreign
47   4934   18       1.5      7    3470     198  Domestic
44   6486   26       1.5      8    2520     182  Domestic
23   4389   28       1.5      9    1800     147  Domestic
51   4172   24       2.0      7    2690     179  Domestic
17   3667   24       2.0      7    2750     179  Domestic

### Group specific iteration

In [178]:
for name, group in grouped:
    print(name)
    print(group.head())

Domestic
    price  mpg  headroom  trunk  weight  length   foreign
47   4934   18       1.5      7    3470     198  Domestic
44   6486   26       1.5      8    2520     182  Domestic
23   4389   28       1.5      9    1800     147  Domestic
51   4172   24       2.0      7    2690     179  Domestic
17   3667   24       2.0      7    2750     179  Domestic
Foreign
    price  mpg  headroom  trunk  weight  length  foreign
55   6229   23       1.5      6    2370     170  Foreign
56   4589   35       2.0      8    2020     165  Foreign
68   5719   18       2.0     11    2670     175  Foreign
72   6850   25       2.0     16    1990     156  Foreign
61   4499   28       2.5      5    1760     149  Foreign

## Combining dataframes

In [195]:
df_auto_p1 = df_auto[['make', 'price', 'mpg']]
df_auto_p2 = df_auto[['make', 'headroom', 'trunk']]

In [188]:
df_auto_p1.head(3)

              make  price  mpg
55      Datsun 200   6229   23
47  Pont. Firebird   4934   18
44   Plym. Sapporo   6486   26

In [189]:
df_auto_p2.head(3)

              make  headroom  trunk
55      Datsun 200       1.5      6
47  Pont. Firebird       1.5      7
44   Plym. Sapporo       1.5      8

### Merge datasets

http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.merge.html

In [192]:
merged_auto = pd.merge(df_auto_p1, df_auto_p2, how='left', on='make')
merged_auto.head(3)

             make  price  mpg  headroom  trunk
0      Datsun 200   6229   23       1.5      6
1  Pont. Firebird   4934   18       1.5      7
2   Plym. Sapporo   6486   26       1.5      8

### Join datasets on index

In [196]:
df_auto_p1.set_index('make', inplace=True)
df_auto_p2.set_index('make', inplace=True)

In [200]:
joined_auto = df_auto_p1.join(df_auto_p2)
joined_auto.reset_index().head(3)

             make  price  mpg  headroom  trunk
0      Datsun 200   6229   23       1.5      6
1  Pont. Firebird   4934   18       1.5      7
2   Plym. Sapporo   6486   26       1.5      8

## Reshaping and Pivot Tables

## Handling missing values

http://pandas.pydata.org/pandas-docs/stable/missing_data.html

### Add missing values

*Note:* We define a missing value as `np.nan` for convenience

In [250]:
df_auto.loc['UvT_Car'] = [np.nan for x in range(0,len(df_auto.columns))]
df_auto.loc['UvT_Bike'] = [np.nan for x in range(0,len(df_auto.columns))]

In [253]:
df_auto.loc[['UvT_Car', 'UvT_Bike']]

,make,price,mpg,rep78,headroom,trunk,weight,length,turn,displacement,gear_ratio,foreign,price_trunk_ratio,new_price
UvT_Car,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
UvT_Bike,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Condition based on missing values

Always use `pd.isnull()` or `pd.notnull()` as it is most reliable.  
`df_auto.make == np.nan` will sometimes work but not always!

In [254]:
df_auto[pd.isnull(df_auto.make)]

,make,price,mpg,rep78,headroom,trunk,weight,length,turn,displacement,gear_ratio,foreign,price_trunk_ratio,new_price
UvT_Car,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
UvT_Bike,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [255]:
df_auto[pd.notnull(df_auto.make)].head()

,make,price,mpg,rep78,headroom,trunk,weight,length,turn,displacement,gear_ratio,foreign,price_trunk_ratio,new_price
55,Datsun 200,6229,23,4,1.5,6,2370,170,35,119,3.8900001049,Foreign,1038.166667,9343.5
47,Pont. Firebird,4934,18,1,1.5,7,3470,198,42,231,3.07999992371,Domestic,704.857143,4934.0
44,Plym. Sapporo,6486,26,NaN,1.5,8,2520,182,38,119,3.53999996185,Domestic,810.750000,6486.0
23,Ford Fiesta,4389,28,4,1.5,9,1800,147,33,98,3.15000009537,Domestic,487.666667,4389.0
51,Pont. Sunbird,4172,24,2,2.0,7,2690,179,41,151,2.73000001907,Domestic,596.000000,4172.0

### Filling missing values

To fill missing values with something we can use `.fillna()`

In [257]:
df = df_auto.fillna('Missing')
df.loc[['UvT_Car', 'UvT_Bike']]

,make,price,mpg,rep78,headroom,trunk,weight,length,turn,displacement,gear_ratio,foreign,price_trunk_ratio,new_price
UvT_Car,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Missing
UvT_Bike,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Missing

### Drop axis with missing values

To drop missing values we can use `.dropna()`

In [271]:
df_auto['make'].tail(3)

45          Plym. Volare
UvT_Car              NaN
UvT_Bike             NaN
Name: make, dtype: object

In [272]:
df = df_auto.dropna(axis=0)
df['make'].tail(3)

36       Olds Cutlass
22    Dodge St. Regis
45       Plym. Volare
Name: make, dtype: object

## Changing datatypes

### Show current datatypes:

In [221]:
df_auto.dtypes

make                  object
price                  int64
mpg                    int64
rep78                float64
headroom             float64
trunk                  int64
weight                 int64
length                 int64
turn                   int64
displacement           int64
gear_ratio           float64
foreign               object
price_trunk_ratio    float64
new_price            float64
dtype: object

### Convert datatypes

The official function is called `.astype()`

In [244]:
df_auto['length'] = df_auto['length'].astype('str')
df_auto[['length']].dtypes

length    object
dtype: object

In [243]:
df_auto['length'] = df_auto['length'].astype('int')
df_auto[['length']].dtypes

length    int32
dtype: object

## Dates